<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <div class="w-100">
                    <h5 class="pull-right">
                        {{currentState.label}}
                    </h5>
                    <span class="pull-left">
                        <i class="fa fa-arrow-left custom-pointer" tooltip-append-to-body="true" uib-tooltip="بازگشت" ui-sref="dashboard.provinceCity.list"></i>
                    </span>
                </div>
            </div>
            <div class="card-body">
                <form name="addProvice" id="addProvice">
                    <div>
                        <h5 class="text-info">
                            <span class="text-body">
                                <small>
                                    استان :
                                </small>
                            </span>
                            {{self.provinceCity.name}} /
                            <span class="text-body">
                                <small>
                                    شهر :
                                </small>
                            </span>
                            {{self.city.cityName}}
                        </h5>

                    </div>
                    <div class="row pr-0" ">
                        <div class="col-md-3 pr-0">
                            <div class="form-group">
                                <label>افزودن منطقه</label>
                                <input type="text" class="form-control" ng-model="self.city.zone" placeholder="نام منطقه" ng-required="true" />
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <br />
                                <button class="btn btn-success mt-2 pt-2" ng-disabled="addProvice.$invalid" ng-click="self.addZone()">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="list-group-item list-group-item-action pb-3" ng-repeat="zone in self.city.zones">
                    <small ng-if="zone.isEdit != true">
                        {{zone.title}}
                    </small>
                    <div class="input-group input-group-sm" ng-if="zone.isEdit == true">
                        <input type="text" class="form-control" placeholder="" ng-model="zone.editTitle">
                        <div class="input-group-append">
                            <button class="btn btn-success rounded-0" type="button" ng-click="self.editZone(zone)">
                                <small>
                                    <i class="fa fa-check"></i>
                                </small>
                            </button>
                            <button class="btn btn-default" type="button" ng-click="zone.isEdit = null">
                                <small>
                                    <i class="fa fa-remove"></i>
                                </small>
                            </button>
                        </div>
                    </div>

                    <div class="btn-group pull-left" ng-if="zone.isEdit != true">
                        <button class="btn btn-warning btn-sm" ng-click="zone.isEdit = true ; zone.editTitle = zone.title">
                            <small>
                                ویرایش
                            </small>
                        </button>
                    </div>
                    <div class="material-switch switch-sm pull-left mr-3 mt-2" ng-if="zone.isEdit != true">
                        <input id="someSwitchOptionDefault-{{zone.id}}" ng-model="zone.isActive" name="someSwitchOption-{{zone.id}}" type="checkbox" ng-change="self.changeActiveDeactive(zone)" />
                        <label for="someSwitchOptionDefault-{{zone.id}}" class="label-success"></label>
                    </div>
                </div>







































































                <!---->
                <!-- <div class="k-rtl">-->
                <!-- <kendo-grid options="mainGridOptions">-->
                <!-- <table>-->
                <!-- <thead>-->
                <!-- <tr>-->
                <!---->
                <!-- -->
                <!---->
                <!-- <th data-field="Id">-->
                <!-- <a class="k-link" href="#">شناسه فاکتور</a>-->
                <!-- </th> -->
                <!-- -->
                <!-- <th data-field="CreationTime">-->
                <!-- <a class="k-link" href="#">تاریخ ایجاد</a>-->
                <!-- </th>-->
                <!-- <th data-field="FactoRawCount">-->
                <!-- <a class="k-link" href="#">تعداد سفارش</a>-->
                <!-- </th>-->
                <!---->
                <!-- <th data-field="Discount">-->
                <!-- <a class="k-link" href="#">تخفیف </a>-->
                <!-- </th>-->
                <!---->
                <!-- <th data-field="DiscountPrice">-->
                <!-- <a class="k-link" href="#">مبلغ تخفیف </a>-->
                <!-- </th>-->
                <!---->
                <!-- <th data-field="Price">-->
                <!-- <a class="k-link" href="#">مبلغ </a>-->
                <!-- </th>-->
                <!---->
                <!-- <th data-field="FactorState">-->
                <!-- <a class="k-link" href="#">وضعبت فاکتور </a>-->
                <!-- </th>-->
                <!---->
                <!-- <th data-field="ShipmentState">-->
                <!-- <a class="k-link" href="#">وضعبت تحویل </a>-->
                <!-- </th>-->
                <!---->
                <!---->
                <!-- <th>-->
                <!-- ویرایش-->
                <!-- </th>-->
                <!-- </tr>-->
                <!-- </thead>-->
                <!-- </table>-->
                <!-- <table role="grid">-->
                <!-- <tbody role="rowgroup">-->
                <!-- <tr k-row-template>-->
                <!-- <td>-->
                <!-- {{dataItem.id}}-->
                <!-- </td> -->
                <!-- <td>-->
                <!-- {{dataItem.creationTime}}-->
                <!-- </td>-->
                <!---->
                <!-- <td>-->
                <!---->
                <!-- {{dataItem.factoRawCount}}-->
                <!---->
                <!---->
                <!-- </td>-->
                <!---->
                <!---->
                <!--$1$#1#-->
                <!--$1$ <td>#1#-->
                <!--$1$ {{dataItem.timeLeft}}#1#-->
                <!--$1$ </td>#1#-->
                <!---->
                <!-- <td>-->
                <!-- {{dataItem.discount}}-->
                <!-- </td>-->
                <!---->
                <!---->
                <!-- <td>-->
                <!-- {{dataItem.discountPrice | currency : '' : 0 }}-->
                <!-- </td>-->
                <!---->
                <!---->
                <!-- <td>-->
                <!-- {{dataItem.price | currency : '' : 0}}-->
                <!-- </td>-->
                <!---->
                <!-- <td>-->
                <!-- <span class="badge" ng-class="{'badge-warning' : dataItem.factorState == 0 ,  'badge-success' : dataItem.factorState == 1}">-->
                <!-- {{dataItem.factorState | factorStateFilter}}-->
                <!-- </span>-->
                <!-- </td>-->
                <!---->
                <!-- <td>-->
                <!-- -->
                <!-- <span class="badge" ng-class="{'badge-warning' : dataItem.shipmentState == 0 ,  'badge-info' : dataItem.shipmentState == 1,  'badge-success' : dataItem.shipmentState == 2 ,  'badge-danger' : dataItem.shipmentState == 3 }">-->
                <!-- {{dataItem.shipmentState | shipmentStateFilter}}-->
                <!-- </span>-->
                <!-- </td>-->
                <!---->
                <!-- <td>-->
                <!-- <button class="btn btn-warning btn-sm" ui-sref="dashboard.factor.details({id : dataItem.id})">-->
                <!-- <small> جزئیات</small>-->
                <!-- </button>-->
                <!-- </td>-->
                <!-- </tr>-->
                <!-- </tbody>-->
                <!-- </table>-->
                <!-- </kendo-grid>-->
                <!-- <br/>-->
                <!-- <br/>-->
                <!-- <br/>-->
                <!-- </div>-->
            </div>
        </div>
    </div>
</section>