<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <div class="w-100">
                    <h5 class="pull-right">
                        {{currentState.label}}

                    </h5>
                    <span class="pull-left">
                        <i class="fa fa-arrow-left custom-pointer" tooltip-append-to-body="true" uib-tooltip="بازگشت" ui-sref="dashboard.marketer.list"></i>
                    </span>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label" for="firstName">
                                شناسه :
                            </label>
                            <b>
                                {{self.user.id}}
                            </b>
                            <!-- <input type="text" class="form-control" id="firstName" name="firstName" tabindex="1" ng-class="{'is-invalid' : addForm.firstName.$touched &&  addForm.firstName.$invalid == true}" ng-model="self.user.firstName" ng-required="true">-->
                            <div class="invalid-feedback">
                                <small ng-if="addForm.firstName.$touched && addForm.firstName.$error.required == true">
                                    نام اجباری می باشد
                                </small>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-control-label" for="firstName">
                                نام :
                            </label>
                            <b>
                                {{self.user.firstName}}
                            </b>
                            <!-- <input type="text" class="form-control" id="firstName" name="firstName" tabindex="1" ng-class="{'is-invalid' : addForm.firstName.$touched &&  addForm.firstName.$invalid == true}" ng-model="self.user.firstName" ng-required="true">-->
                            <div class="invalid-feedback">
                                <small ng-if="addForm.firstName.$touched && addForm.firstName.$error.required == true">
                                    نام اجباری می باشد
                                </small>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">

                            <label class="form-control-label" for="lastName">
                                نام خانوادگی :
                            </label>
                            <b>
                                {{self.user.lastName}}
                            </b>
                            <!-- <input type="text" class="form-control" id="lastName" name="lastName" tabindex="1" ng-class="{'is-invalid' : addForm.lastName.$touched &&  addForm.lastName.$invalid == true}" ng-model="self.user.lastName" ng-required="true">-->
                            <div class="invalid-feedback">
                                <small ng-if="addForm.lastName.$touched && addForm.lastName.$error.required == true">
                                    نام خانوادگی اجباری می باشد
                                </small>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- {-->
                <!-- field: "CreationTime"-->
                <!-- },-->
                <!-- {-->
                <!-- field: "PersonNumber"-->
                <!-- }, {-->
                <!-- field: "Name"-->
                <!-- }, {-->
                <!-- field: "OrderCount"-->
                <!-- }, {-->
                <!-- field: "OrderSugesstionCount"-->
                <!-- }, {-->
                <!-- field: "FactorCount"-->
                <!-- },{-->
                <!-- field: "FactorSum"-->
                <!-- },{-->
                <!-- field: "PastDateCount"-->
                <!-- }-->

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>تاریخ شروع</label>
                            <adm-dtp class="direction-ltr" full-data="date11_detail" maxdate="{{date12_detail.unix}}" ng-model='self.filter.fromDate' name="birthDate" id="birthDate" ng-required="true" options='{calType: "jalali", format: "YYYY/MM/DD" , autoClose:"true" , "dtpType" : "date" , default: "today" , freezeInput: "true"}'></adm-dtp>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>تاریخ پایان</label>
                            <adm-dtp class="direction-ltr" full-data="date12_detail" mindate="{{date11_detail.unix}}" ng-model='self.filter.toDate' name="birthDate" id="birthDate" ng-required="true" options='{calType: "jalali", format: "YYYY/MM/DD" , autoClose:"true" , "dtpType" : "date" , default: "today" , freezeInput: "true"}'></adm-dtp>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <br />
                            <button class="btn btn-success mt-2" ng-click="self.setFilter()">
                                <i class="fa fa-filter"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="k-rtl">
                    <kendo-grid options="mainGridOptions" id="grid">
                        <table>
                            <thead>
                                <tr>

                                    <th data-field="CreationTime">
                                        <a class="k-link" href="#">تاریخ ایجاد</a>
                                    </th>


                                    <th data-field="PersonNumber">
                                        <a class="k-link" href="#">شناسه فروشگاه </a>
                                    </th>
                                    <th data-field="Name">
                                        <a class="k-link" href="#">نام </a>
                                    </th>

                                    <th data-field="OrderCount">
                                        <a class="k-link" href="#"> تعداد سفارش </a>
                                    </th>

                                    <th data-field="OrderSugesstionCount">
                                        <a class="k-link" href="#"> تعداد محصولات پیشنهادی </a>
                                    </th>
                                    <th data-field="FactorCount">
                                        <a class="k-link" href="#">تعداد فاکتور</a>
                                    </th>

                                    <th data-field="FactorSum">
                                        <a class="k-link" href="#">جمع فاکتور</a>
                                    </th>

                                    <th data-field="PastDateCount">
                                        <a class="k-link" href="#"> نعداد تاریخ گذشته </a>
                                    </th>
                                    <th>
                                        ویرایش
                                    </th>
                                </tr>
                            </thead>
                        </table>
                        <table role="grid">
                            <tbody role="rowgroup">
                                <tr k-row-template>
                                    <td>
                                        {{dataItem.creationTime}}
                                    </td>
                                    <td>
                                        {{dataItem.personNumber}}
                                    </td>

                                    <td>
                                        {{dataItem.name}}
                                    </td>
                                    <td>
                                        {{dataItem.orderCount}}
                                    </td>

                                    <td>
                                        {{dataItem.orderSugesstionCount}}
                                    </td>

                                    <td>
                                        {{dataItem.factorCount}}
                                    </td>
                                    <td>
                                        {{dataItem.factorSum | currency:'':0}}
                                    </td>

                                    <td>
                                        {{dataItem.pastDateCount}}
                                    </td>

                                    <td>



                                        <div class="btn-group">
                                            <button type="button" class="btn btn-info dropdown-toggle  btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <small>
                                                    عملیات

                                                </small>
                                            </button>
                                            <div class="dropdown-menu" style="right: auto">
                                                <a class="dropdown-item" href="" ui-sref="dashboard.shop.details({id : dataItem.id})">
                                                    <small class="">
                                                        جزئیات
                                                    </small>
                                                </a>
                                                <a class="dropdown-item" href="" ui-sref="dashboard.marketer.marketerShopDetails({id : dataItem.id})">
                                                    <small class="">
                                                        عملکرد فروشگاه
                                                    </small>
                                                </a>
                                                <a class="dropdown-item" href="" ui-sref="dashboard.marketer.shopsChangeMarketer({id : dataItem.id})">
                                                    <small class="">
                                                    تغییر بازاریاب
                                                    </small>
                                                </a>

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </kendo-grid>

                </div>
            </div>
        </div>
    </div>
</section>



<!---->
<!--<kendo-grid options="mainGridOptions">-->
<!--    <table>-->
<!--        <thead>-->
<!--            <tr>-->
<!--                $1$                                    <th data-field="CreationTime">#1#-->
<!--                $1$                                        <a class="k-link" href="#">تاریخ ثبت</a>#1#-->
<!--                $1$                                    </th> #1#-->
<!--                $1$                                    <th data-field="Image">#1#-->
<!--                $1$                                        <a class="k-link" href="#">تصویر</a>#1#-->
<!--                $1$                                    </th>#1#-->
<!--                $1$                                    <th data-field="FirstName">#1#-->
<!--                $1$                                        <a class="k-link" href="#">نام </a>#1#-->
<!--                $1$                                    </th>#1#-->
<!--                $1$                                    <th data-field="LastName">#1#-->
<!--                $1$                                        <a class="k-link" href="#">نام خانوادگی</a>#1#-->
<!--                $1$                                    </th>#1#-->
<!--                $1$#1#-->
<!--                $1$                                    <th data-field="MaxMarketerAllowed">#1#-->
<!--                $1$                                        <a class="k-link" href="#">تعداد مجاز فروشگاه</a>#1#-->
<!--                $1$                                    </th>#1#-->
<!--                $1$                                    <th data-field="SubsetShopCount">#1#-->
<!--                $1$                                        <a class="k-link" href="#">تعداد فروشگاه های در اختیار </a>#1#-->
<!--                $1$                                    </th>#1#-->
<!--                $1$#1#-->
<!--                $1$                                    <th data-field="IsActive">#1#-->
<!--                $1$                                        <a class="k-link" href="#">وضعیت </a>#1#-->
<!--                $1$                                    </th>#1#-->
<!--                $1$                                    <th>#1#-->
<!--                $1$                                        عملیات#1#-->
<!--                $1$                                    </th>#1#-->
<!--            </tr>-->
<!--        </thead>-->
<!--    </table>-->
<!--    <table role="grid">-->
<!--        <tbody role="rowgroup">-->
<!--            <tr k-row-template>-->
<!--                <td>-->
<!--                    {{dataItem.creationTime}}-->
<!--                </td>-->
<!--                <td>-->
<!--                    <img ng-src="{{fileManagerGetUri}}/{{dataItem.Image}}" class="img-fluid img-circle img-thumbnail w-50" />-->
<!--                </td>-->
<!--                <td>-->
<!--                    {{dataItem.firstName}}-->
<!--                </td>-->
<!--                <td>-->
<!--                    {{dataItem.lastName}}-->
<!--                </td>-->
<!--                <td>-->
<!--                    {{dataItem.maxMarketerAllowed}}-->
<!--                </td>-->
<!--                <td>-->
<!--                    {{dataItem.subsetShopCount}}-->
<!--                </td>-->
<!--                <td>-->
<!--                    <div class="material-switch switch-sm">-->
<!--                        <input id="someSwitchOptionDefault-{{dataItem.id}}" ng-model="dataItem.isActive" name="someSwitchOption-{{dataItem.id}}" type="checkbox" ng-change="self.changeActiveDeactive(dataItem)" />-->
<!--                        <label for="someSwitchOptionDefault-{{dataItem.id}}" class="label-success"></label>-->
<!--                    </div>-->
<!--                </td>-->
<!---->
<!--                <td>-->
<!--                    <div class="btn-group">-->
<!--                        <button type="button" class="btn btn-info dropdown-toggle  btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                            <small>-->
<!--                                عملیات-->
<!---->
<!--                            </small>-->
<!--                        </button>-->
<!--                        <div class="dropdown-menu" style="right: auto">-->
<!--                            <a class="dropdown-item" href="" ui-sref="dashboard.shop.details({id : dataItem.id})">-->
<!--                                <small class="">-->
<!--                                    مشخصات-->
<!--                                </small>-->
<!--                            </a>-->
<!---->
<!--                            <a class="dropdown-item" href="" ui-sref="dashboard.complaint.add({id : dataItem.id})">-->
<!--                                <small class="">-->
<!--                                    ثبت شکایات-->
<!--                                </small>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </td>-->
<!--            </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</kendo-grid>-->