<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="card">

            <div class="card-header d-flex align-items-center">

                <div class="w-100">
                    <h5 class="pull-right">
                        {{currentState.label}}
                    </h5>
                    <span class="pull-left">
                        <i class="fa fa-arrow-left custom-pointer" tooltip-append-to-body="true" uib-tooltip="بازگشت" ui-sref="dashboard.user.list"></i>
                    </span>
                </div>
            </div>
            <div class="card-body">
                <form id="addForm" name="addForm">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">

                                <label class="form-control-label" for="firstName">
                                    نام و نام خانوادگی : <b>
                                        {{self.userInfo.firstName}} {{self.userInfo.lastName}}
                                    </b>
                                </label>
                            </div>
                        </div>
                        <div class="w-100"></div>

                        <div class="col-md-4">
                            <div class="form-group">

                                <label class="form-control-label" for="oldPassword">
                                    کلمه عبور قدیم <small class="text-danger" ng-if="addForm.oldPassword.$error.required == true">*</small>
                                </label>

                                <input type="text" class="form-control direction-ltr" id="oldPassword" name="oldPassword" tabindex="1" ng-class="{'is-invalid' : addForm.oldPassword.$touched &&  addForm.oldPassword.$invalid == true}" ng-model="self.user.oldPassword" ng-required="true">


                                <div class="invalid-feedback">
                                    <small ng-if="addForm.oldPassword.$touched && addForm.oldPassword.$error.required == true">
                                        کلمه عبور قدیم اجباری می باشد
                                    </small>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">

                                <label class="form-control-label" for="newPassword">
                                    کلمه عبور جدید <small class="text-danger" ng-if="addForm.newPassword.$error.required == true">*</small>
                                </label>

                                <input type="text" class="form-control direction-ltr" id="newPassword" name="newPassword" tabindex="1" ng-class="{'is-invalid' : addForm.newPassword.$touched &&  addForm.newPassword.$invalid == true}" ng-model="self.user.newPassword" ng-required="true">


                                <div class="invalid-feedback">
                                    <small ng-if="addForm.newPassword.$touched && addForm.newPassword.$error.required == true">
                                        کلمه عبور جدید اجباری می باشد
                                    </small>
                                </div>

                            </div>
                        </div>



                        <div class="col-md-12">
                            <div class="form-group">

                                <button class="btn btn-success" ng-click="self.addUser()" ng-disabled="addForm.$invalid">
                                    ذخیره
                                </button>
                            </div>
                        </div>



                    </div>
                </form>


            </div>
        </div>
    </div>
</section>