<section class="dashboard-counts no-padding-bottom">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <div class="w-100">
          <h5 class="pull-right">
            {{currentState.label}}

          </h5>
        </div>
      </div>
      <div class="card-body">

        <div class="k-rtl">
          <kendo-grid options="mainGridOptions">
            <table>
              <thead>
                <tr>
                  <th data-field="CreationTime">
                    <a class="k-link" href="#">شناسه سفارش</a>
                  </th>
                  <th data-field="CreationTime">
                    <a class="k-link" href="#">تاریخ ایجاد</a>
                  </th>
                  <th data-field="OrderStatus">
                    <a class="k-link" href="#">وضعیت سفارش</a>
                  </th>
                  <th data-field="Customer.FirstName">
                    <a class="k-link" href="#">نام مشتری</a>
                  </th>
                  <th data-field="Customer.LastName">
                    <a class="k-link" href="#">نام خانوادگی مشتری </a>
                  </th>
                  <th data-field="Customer.MobileNumber">
                    <a class="k-link" href="#">تلفن همراه مشتری </a>
                  </th>

                  <th data-field="Customer.EmailAddress">
                    <a class="k-link" href="#">آدرس ایمیل </a>
                  </th>

                  <th data-field="IsConvertToAreaOrder">
                    <a class="k-link" href="#"> ارسال به نواحی </a>
                  </th>

                  <th data-field="Description">
                    <a class="k-link" href="#">توضیحات </a>
                  </th>


                  <th>
                    ویرایش
                  </th>
                </tr>
              </thead>
            </table>
            <table role="grid">
              <tbody role="rowgroup">
                <tr k-row-template>
                  <td>
                    {{dataItem.id}}
                  </td>

                  <td>
                    {{dataItem.creationTime}}
                  </td>

                  <td>


                    <span class="badge" ng-class="{
                          'badge-warning' : dataItem.orderStatus == 0 ,
                          'badge-info' : dataItem.orderStatus == 1 ||  dataItem.orderStatus == 3  || dataItem.orderStatus == 4,  
                          'badge-success' : dataItem.orderStatus == 2 , 
                       
                          'badge-danger' : dataItem.orderStatus == 5}">
                      {{dataItem.orderStatus | orderStatusFilter}}
                    </span>

                  </td>



                  <td>
                    {{dataItem.customer.firstName}}
                  </td>

                  <td>
                    {{dataItem.customer.lastName}}
                  </td>

                  <td>
                    {{dataItem.customer.mobileNumber}}
                  </td>


                  <td>
                    {{dataItem.customer.emailAddress}}
                  </td>

                  <td>
                    <small class="badge badge-success" ng-if="dataItem.isConvertToArea == true">
                      به نواحی ارسال شده
                    </small>

                    <small class="badge badge-warning" ng-if="dataItem.isConvertToArea != true">
                      به نواحی ارسال نشده
                    </small>

                  </td>


                  <td>
                    {{dataItem.description}}
                  </td>
                  <!-- <td>-->
                  <!-- <div class="material-switch ">-->
                  <!-- <input id="someSwitchOptionDefault-{{dataItem.id}}" ng-model="dataItem.isActive" name="someSwitchOption-{{dataItem.id}}" type="checkbox" ng-change="self.changeActiveDeactive(dataItem)"/>-->
                  <!-- <label for="someSwitchOptionDefault-{{dataItem.id}}" class="label-success"></label>-->
                  <!-- </div>-->
                  <!-- -->
                  <!-- </td>-->
                  <td>

                    <div class="btn-group">
                      <button type="button" class="btn btn-info dropdown-toggle  btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <small>
                          عملیات
                        </small>
                      </button>
                      <!--                                        <button class="btn btn-warning btn-sm" ui-sref="dashboard.order.details({id : dataItem.id})">-->
                      <!--                                          <small> مشخصات</small>-->
                      <!--                                        </button>-->
                      <!---->
                      <!--                                        <button class="btn btn-success btn-sm" ui-sref="dashboard.order.details({id : dataItem.id})">-->
                      <!--                                          <small> مشخصات نواحی</small>-->
                      <!--                                        </button>-->
                      <div class="dropdown-menu" style="right: auto">
                        <a class="dropdown-item" href="" ui-sref="dashboard.order.details({id : dataItem.id})">
                          <small class="">
                            مشخصات
                          </small>
                        </a>
                        <a class="dropdown-item" href="" ui-sref="dashboard.order.areaDetails({id : dataItem.id})" ng-if="dataItem.isConvertToArea == true">
                          <small class="">
                            مشخصات نواحی
                          </small>
                        </a>
                      </div>
                    </div>


                  </td>
                </tr>
              </tbody>
            </table>
          </kendo-grid>
          <br />
          <br />
          <br />
        </div>
      </div>
    </div>
  </div>
</section>