<section class="dashboard-counts no-padding-bottom">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <div class="w-100">
          <h5 class="pull-right">
            {{currentState.label}}

          </h5>
          <!--                    <span class="pull-left">-->
          <!--                        <i class="fa fa-plus custom-pointer" tooltip-append-to-body="true" uib-tooltip="افزودن کاربر" ui-sref="dashboard.user.add"></i>-->
          <!--                    </span>-->
        </div>
      </div>
      <div class="card-body">
        <div class="k-rtl">
          <kendo-grid options="mainGridOptions">
            <table>
              <thead>
              <tr>
                  <th data-field="PersonNumber">
                      <a class="k-link" href="#">کد</a>
                  </th>
                  <th data-field="Name">
                      <a class="k-link" href="#">تاریخ ثبت نام</a>
                  </th>
                  <th data-field="Name">
                      <a class="k-link" href="#">نام فروشگاه</a>
                  </th>
                  <th data-field="FirstName">
                      <a class="k-link" href="#">نام مدیر</a>
                  </th>
                  <th data-field="LastName">
                      <a class="k-link" href="#">نام خانوادگی</a>
                  </th>

                  <th data-field="MobileNumber">
                      <a class="k-link" href="#">شماره موبایل</a>
                  </th>
                  <th data-field="NationalCode">
                      <a class="k-link" href="#">کد ملی </a>
                  </th>

                  <th data-field="EmailAddress">
                      <a class="k-link" href="#">آدرس ایمیل </a>
                  </th>
                  <th data-field="MarketerFullName">
                      <a class="k-link" href="#">نام بازاریاب </a>
                  </th>

                  <th data-field="ShopStatus">
                      <a class="k-link" href="#">وضعیت </a>
                  </th>

                  <th data-field="IsActive">
                      <a class="k-link" href="#">وضعیت فعالیت </a>
                  </th>
                  <th>
                      ویرایش
                  </th>
              </tr>
              </thead>
            </table>
            <table role="grid">
              <tbody role="rowgroup">
              <tr k-row-template>
                  <td>
                      {{dataItem.personNumber}}
                  </td>
                  <td>
                      {{dataItem.creationTime}}
                  </td>
                  <td>
                      {{dataItem.name}}
                  </td>
                  <td>
                      {{dataItem.firstName}}
                  </td>
                  <td>
                      {{dataItem.lastName}}
                  </td>
                  <td>
                      {{dataItem.mobileNumber}}
                  </td>
                  <td>
                      {{dataItem.nationalCode}}
                  </td>

                  <td>
                      {{dataItem.emailAddress}}
                  </td>
                  <td>
                      {{dataItem.marketerFullName}}
                  </td>
                  <td>
                      <span class="badge" ng-class="{'badge-warning' : dataItem.shopStatus == 0 , 'badge-success' : dataItem.shopStatus == 1 ,  'badge-danger' : dataItem.shopStatus == 2,  'badge-info' : dataItem.shopStatus == 3}">
                          {{dataItem.shopStatus | shopStatusFilter}}
                      </span>
                  </td>
                  <td>
                      <div class="material-switch switch-sm">
                          <input id="someSwitchOptionDefault-{{dataItem.id}}" ng-model="dataItem.isActive" name="someSwitchOption-{{dataItem.id}}" type="checkbox" ng-change="self.changeActiveDeactive(dataItem)"/>
                          <label for="someSwitchOptionDefault-{{dataItem.id}}" class="label-success"></label>
                      </div>
                  </td>
                  <td>
                      <div class="btn-group">
                          <button type="button" class="btn btn-info dropdown-toggle  btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <small>
                                  عملیات

                              </small>
                          </button>
                          <div class="dropdown-menu" style="right: auto">
                              <a class="dropdown-item" href="" ui-sref="dashboard.shop.details({id : dataItem.id})">
                                  <small class="">
                                      مشخصات
                                  </small>
                              </a>
                              <a class="dropdown-item" href="" ui-sref="dashboard.shop.edit({id : dataItem.id})">
                                  <small class="">
                                      ویرایش
                                  </small>
                              </a>
                              <a ng-if="isAdmin == true" class="dropdown-item" href="" ui-sref="dashboard.message.privateList({id : dataItem.id , type : 2})">
                                  <small class="">
                                      پیام خصوصی
                                  </small>
                              </a>
                              <a ng-if="isAdmin == true" class="dropdown-item" href="" ui-sref="dashboard.shop.factors({id : dataItem.id})">
                                  <small class="">
                                      فاکتور های فروشگاه
                                  </small>
                              </a>
                              <a class="dropdown-item" href="" ui-sref="dashboard.complaint.add({id : dataItem.id})">
                                  <small class="">
                                      ثبت شکایات
                                  </small>
                            </a>  
                            <a class="dropdown-item" href="" ui-sref="dashboard.shop.orders({id : dataItem.id})">
                                  <small class="">
                                    سفارش های فروشگاه 
                                  </small>
                              </a>
                              <a class="dropdown-item" href="" ui-sref="dashboard.marketer.details({id : dataItem.marketerId})">
                                  <small class="">
                                      اطلاعات بازاریاب
                                  </small>
                              </a>
                              <a class="dropdown-item" href="" ui-sref="dashboard.shop.marketers({id : dataItem.id})">
                                  <small class="">
                                      سابقه تغییرات بازاریاب
                                  </small>
                              </a>

                              <a class="dropdown-item" href="" ui-sref="dashboard.shop.logs({id : dataItem.id})">
                                  <small class="">
                                      سابقه تغییرات فروشگاه
                                  </small>
                              </a>

                              <a class="dropdown-item" href="" ui-sref="dashboard.shop.customerSubset({id : dataItem.id})">
                                  <small class="">
                                      سابقه کارمزد جذب
                                  </small>
                              </a>
                          </div>
                      </div>
                  </td>
              </tr>
              </tbody>
            </table>
          </kendo-grid>
        </div>
      </div>
    </div>
  </div>
</section>