
<div class="modal fade" id="dangerModal" tabindex="-1" role="dialog" aria-labelledby="body" aria-hidden="true">
    <div class="modal-dialog modal-danger modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <i class="fa fa-warning"></i>
                    تایید حذف
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>آیا از حذف مورد انتخاب اطمینان دارید</p>
            </div>
            <div class="modal-footer pull-right">
                <button type="button" class="btn btn-danger" ng-click="self.removeConfirmation()">تایید</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">انصراف</button>

            </div>
        </div>
       
    </div>
    
</div>
 